<h1>Hello!</h1>
<h2>Give me your Cooper Distance</h2>

<div class="form-inputs">
    <%= f.input :cooper_distance,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "cooper distance" }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
